<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.aniket.splitbills">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Screens.EditPerson"
            android:parentActivityName=".Screens.AllPersons"></activity>
        <activity
            android:name=".Screens.AllTransactions"
            android:label="@string/title_activity_all_transactions"
            android:parentActivityName=".Screens.Dashboard"></activity>
        <activity
            android:name=".Screens.AddPerson"
            android:parentActivityName=".Screens.AllPersons" />
        <activity
            android:name=".Screens.AddTransaction"
            android:parentActivityName=".Screens.AddTransaction" />
        <activity
            android:name=".Screens.AllPersons"
            android:label="@string/title_activity_all_persons"
            android:parentActivityName=".Screens.Dashboard" />
        <activity
            android:name=".Screens.CreateSession"
            android:parentActivityName=".Screens.MainActivity" />
        <activity
            android:name=".Screens.ModifySessions"
            android:parentActivityName=".Screens.MainActivity" />
        <activity
            android:name=".Screens.AllSessions"
            android:parentActivityName=".Screens.MainActivity" />
        <activity
            android:name=".Screens.Dashboard"
            android:parentActivityName=".Screens.AllSessions" />

        <activity
            android:name=".Screens.EditSession"
            android:parentActivityName=".Screens.AllSessions" />

        <activity android:name=".Screens.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>